@import url(../assets/font/coolvetica_rg.otf);

@font-face {
  font-family: "coolvetica";
  src: url(../assets/font/coolvetica_rg.otf);
}

:root {
  --black: #000;
  --marine: #005F73;
  --turquoise: #0A9396;
  --turquoiseclair: #94D2BD;
  --beige: #E9D8A6;
  --orange: #EE9B00;
  --oragne2: #CA6702;
  --red1: #BB3E03;
  --red2: #AE2012;
  --red3: #9B2226;
  --white: white;
}

/*----- Styles Généraux -----*/

body {
  font-family: "coolvetica";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-size: 20px;
  font-weight: 900;
  color: var(--white);
}
h2,
.h2 {
  font-size: 34px;
  font-weight: 700;
  color: var(--white);
}
h3,
.h3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--white);
}
h4,
.h4 {
  font-size: 22px;
  font-weight: 400;
  color: var(--white);
}
h5,
.h5 {
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
}
h6,
.h6 {
  font-size: 10px;
  font-weight: 200;
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "coolvetica";
  overflow-x: hidden;
}

header {
  width: 100%;
  height: calc(100vh); 
  background-image: url('../source/img/png/exports/main.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 40px;
  position: relative; 
}

header h1 {
  font-size: 7vw;
  margin: 0;
}

.bottom {
  font-size: 11px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.scroll-image {
  width: 50px;
  height: auto;
}

.scroll-text {
  font-size: 20px;
  margin-top: 10px;
}

main {
 /* display: flex;
  flex-direction: column;*/
  width: 100vh;
  /*overflow-y: scroll;*/
  padding-top: 0; 
}

main section {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
}


.section {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  
}

img {
  border: 1px solid rgba(218, 0, 0, 0.5); 
  max-width: 350vh; 
  height: auto; 
}


#etoile1, #etoile2, #etoile3, #nuage, #champignon, #papillon, .sprite1, .sprite2 {
  aspect-ratio: 1 / 1; 
  
}

ul.technique-gsap{
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li{
  margin: 5px 0;
}

footer {
  background-image: url('../source/img/svg/chapitre_01/arriere_nuit.svg');
  color: #fff; 
  padding: 20px; 
  text-align: center; 
  background-image: url('../source/img/png/exports/main.png');
  height: 21vh;
}

footer p {
  margin: 0; 
  line-height: 1.5; 
}


footer a {
  color: #fff; 
  text-decoration: none; 
}


footer a:hover {
  text-decoration: underline;
}
/*---------------------------------------------------------- 
# STORY TEXT
----------------------------------------------------------*/ 

.story-text {
  font-family: Arial, sans-serif;
  font-size: 4vw;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.story-text2 {
  font-family: Arial, sans-serif;
  font-size: 3vw;
  color: #000000;
  text-align: center;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.story-text3 {
  font-family: Arial, sans-serif;
  font-size: 4vw;
  color: #000000;
  text-align: center;
  position: absolute;
  top: 80vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.story-text4 {
  font-family: Arial, sans-serif;
  font-size: 2vw;
  color: #000000;
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 75vw;
  transform: translate(-50%, -50%);
}

.story-text5 {
  font-family: Arial, sans-serif;
  font-size: 3vw;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 20vh;
  left: 30vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.story-text6 {
  font-family: Arial, sans-serif;
  font-size: 3vw;
  color: #000000;
  text-align: center;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}



/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 

.section1 {
    background-image: url('../source/img/svg/chapitre_01/arriere_nuit.svg');
    overflow: hidden;
    background-size: 150%;  /* ou 200% pour augmenter l'effet, si l'image originale est assez grande */
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100vw;
    height: 100vh;

   
}

#soleil {
  position: absolute;
  top: 10vh; 
  left: 75vw; 
  height: 10vh ;
  
}

#titre {
  position: absolute;
  top: 10vh; 
  left: 5vw; 
  height: 20vh ;
  
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 

.section1-2 {
  background-image: url('../source/img/svg/chapitre_01/arriere_nuit.svg');
  overflow: hidden; /* Empêche le défilement de la page à l'intérieur de cette section */
}

#lune{
  position: absolute;
  top: 10vh; 
  left: 120vw; 
  height: 10vh ;
  
}
/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/ 

.section2 {
    background-image: url('../source/img/png/exports/blanc.png');
}

#z1 {
  position: absolute;
  top: 35vh; 
  left: 45vw; 
  height: 5vh ;
  
}

#z2 {
  position: absolute;
  top: 27vh; 
  left: 41vw; 
  height: 10vh ;
  
}

#z3 {
  position: absolute;
  top: 12vh; 
  left: 34vw; 
  height: 20vh ;
  
}

.perschap3 {
  position: absolute;
 width: 90vh;
 top: 15vh; 
 left: 25vw; 

  
}


/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/ 

.section3 {
  background-image: url('../source/img/svg/chapitre_03/landscape.svg');
  top: 0vh;
  background-size: 200%;  /* ou 200% pour augmenter l'effet, si l'image originale est assez grande */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 0%;
}

#etoile1,
#etoile2,
#etoile3 {
  color: #000000;
  fill-opacity: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  -inkscape-stroke: none;
  stroke: white;
}

#etoile1 {
  position: absolute;
  top: 22vh; 
  left: 10vw; 
  height: 5vh ;
  fill: rgb(212, 212, 30);
  
}

#etoile2 {
  position: absolute;
  top: 10vh; 
  left: 35vw; 
  height: 10vh ;
  fill: rgb(212, 212, 30);
  
}

#etoile3 {
  position: absolute;
  top: 10vh; 
  left: 50vw; 
  height: 20vh ;
   fill: rgb(212, 212, 30);
  
}

#nuage {
  position: absolute;
  top: 10vh; 
  left: 6vw; 
  height: 80vh ;
  
}

.btn {
  background: rgb(212, 212, 30);
  border: none;
  font-size: 24px;
  border-radius: 10px;
  display: block;
  margin: 40px auto;
  color: white;
  padding: 10px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  top: 20vh;
}

.btn:hover {
  background-color: rgba(255, 38, 58, 0.6);
  cursor: pointer;
}
/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/ 

.section4 {
  background-image: url('../source/img/svg/chapitre_04/fond.svg');
}

#champignon {
  position: absolute;
  top: 30vh; 
  left: 35vw; 
  height: 50vh ;
  
}

#papillon {
  position: absolute;
  top: 30vh; 
  left: 0vw; 
  height: 10vh ;
 
  
}

#point-noir {
  width: 100px;
  height: 300px;
}

#point-noir-group {
  fill: #000000; /* black fill color */
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/ 

.section5 {
  background-image: url('../source/img/svg/chapitre_05/fond_enfer.svg');
}

#porte {
  position: absolute;
  top:30vh; 
  left: 25vw; 
  height: 60vh ;
z-index: 0;
  
}

.perschap5 {
  position: absolute;
  width: 90vh;
  top: 20vh; 
  left: -9vw; 
  
}


.feu1 {
  position: absolute;
  width: 52vh;
  top: 29vh; 
  left: 52vw; 
  
}


.feu2 {
  position: absolute;
  width: 49vh;
  top: 30vh; 
  left: 19vw; 
  
}


/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/ 

.section6 {
  background-image: url('../source/img/png/exports/noir.jpg');
}

#textillusion {
  position: absolute;
  top:30vh; 
  left: 25vw; 
  height: 30vh ;

  
}


/*---------------------------------------------------------- 
# Chapitre 7
----------------------------------------------------------*/ 

.section7 {
  background-image: url('../source/img/svg/chapitre_02/blanc.png');
}

.perschap8{
position: absolute;
width: 90vh;
top: 15vh; 
left: 25vw; 

}

.perschap8dort{
  position: absolute;
  width: 120vh;
  top: 0vh; 
  left: 16vw; 
  }
/*---------------------------------------------------------- 
# sprite
----------------------------------------------------------*/ 

.is-scrolling .sprite1 {
  animation-play-state: running;
}

.is-scrolling .sprite2 {
  animation-play-state: running;
}

.is-scrolling .sprite3 {
  animation-play-state: running;
}




.sprite1 {
  aspect-ratio: 1/1;
  background-image: url('../source/img/png/exports/sprite_max_dors.png');
  animation: play-sprite1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
  background-size: 100% 4800%;
  animation-play-state: paused;
  z-index: 1;


}

.sprite3 {
  aspect-ratio: 1/1;
  background-image: url('../source/img/png/exports/sprite_max_reveille.png');
  animation: play-sprite3;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
  background-size: 100% 4800%;
  animation-play-state: paused;
  z-index: 1;

}

@keyframes play-sprite1 {
  from { background-position: 0 0; }
  to { background-position: 0 4800%; } 
}

.sprite2 {
  aspect-ratio: 1/1;
  background-image: url('../source/img/png/exports/sprite_feu.png');
  animation: play-sprite2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
  background-size: 4800% 100%;
  animation-play-state: paused;

}

@keyframes play-sprite2 {
  from { background-position: 0 0; }
  to { background-position: 4800% 0; } 
}

/*---------------------------------------------------------- 
# Parallaxe
----------------------------------------------------------*/ 

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh; 
}

.parallax-container img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#arrierejour {
  z-index: -1; 
  width: 100%; 
  height: 100vh; 
  top:-35vh; 
}

#milieujour {
  width: 100%; 
  height: 100vh; 
  top: -30vh; 
}

#devantjour {
  z-index: 2; 
  width: 100%; 
  height: 100vh; 
  top: -6vh; 
}

#milieunuit {
  width: 100%;
  height: 100vh; 
  top: 23vh; 
}

#devantnuit {
  z-index: 2; 
  width: 100%; 
  height: 100vh;
  top: 33vh; 
}

















